@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
    background: rgb(192,33,41);
    background: linear-gradient(0deg, rgba(249,90,82,1) 0%, rgba(132,109,106,1) 100%);
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/*.the_center {
    display: flex;
    flex-flow: wrap column;
    background-color: #BFA6A2;
    padding: 30px;
    border-left: 10px;
    border-bottom: 10px;
    border-radius: 10px;
}*/

.nombre {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.titulo1 {
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    text-shadow: 1px 1px 1px #444141;
    color: rgb(192,33,41)
}

.titulo2 {
    font-family: 'Redressed', cursive;
    color: rgb(192,33,41);
    font-size: 150px;
    display: inline;
    text-shadow: 5px 5px 1px #444141;
}

.caja1{
    display: flex;
    justify-content:center;
    align-content: space-between;
    align-items: center;
    background-color: rgba(250,250,250,.4);
    padding: 30px;
    border: 1px solid #444141; 
    border-radius: 10px;
    margin: 20px;
    /*border-left: 10px;
    border-bottom: 10px;*/
}

.caja2{
    display: flex;
    flex-flow: wrap column;
    text-align: justify;
    justify-content:space-around;
    align-content: space-between;
    align-items:center;
    background-color: rgba(250,250,250,.4);
    padding: 30px;
    border: 1px solid #444141; 
    border-radius: 10px;
    margin: 20px;
    /*border-left: 10px;
    border-bottom: 10px;*/
}

.caja3{
    display: flex;
    flex-flow: wrap column;
    text-align: justify;
    justify-content:space-around;
    align-content: space-between;
    align-items:center;
    background-color: rgba(250,250,250,.4);
    padding: 30px;
    border: 1px solid #444141; 
    border-radius: 10px;
    margin: 20px;
    /*border-left: 10px;
    border-bottom: 10px;*/
}

.caja4{
    display: flex;
    flex-flow: wrap column;
    text-align: justify;
    justify-content:center;
    align-content: center;
    align-items:center;
    background-color: rgba(250,250,250,.4);
    padding: 30px;
    border: 1px solid #444141; 
    border-radius: 10px;
    margin: 20px;
    /*border-left: 10px;
    border-bottom: 10px;*/
}

.lux {
    color: #BFA6A2;
}

h2 {
    font-size: 30px;
    color: rgb(192,33,41);
    text-shadow: 1px 1px 1px #444141;
}

p {
    font-size: 20px;
    text-align: center;
}

/*.caja1 img {
    border: 100px black;
    border-radius: 10px;
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
}*/


.caja1__dibujo {
    width: 200px;
    float: left;
    margin-right: 20px;
    box-shadow: 3px 3px 7px #999999;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(192,33,41);
    text-shadow: 1px 1px 1px #444141;
}

li {
    font-size: 20px;
}

footer {
    background-color: rgba(249,90,82,1);
}

.caja_pricipal {
    flex-flow: wrap row;

    height: 350px;
    background-color: #444141;
    padding: 20px;
    color: rgb(249,90,82);
    margin: 20px auto;
    text-align: center;

}

.encabezado {
    background-color: #BFA6A2;
    font-family: 'Redressed', cursive;
    color: #000;
    padding: 20px 0;
}


.caja_perfil {
    width: 850px;
}

.foto, .foto_2, .redes {
    width: 425px;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    float: left;
}

.foto img {
    width: 150px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.foto_2 img{
    width: 300px;
    text-align: center;
    margin: 20px 0;
    float: left;
} 

.foto_2 img {
    width: 425px;
}

.redes img {
    width: 150px;
    color: #BFA6A2;
}
