@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: rgb(192,33,41);
    grid-template: 
    "header1" 250px
    "navbar1" 50px
    "section-1" auto
    "section-2" auto
    "section-3" auto
    "section-4" auto
    "footer1" 250px;
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    min-height: 100%;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: rgb(192,33,41);
    text-shadow: 1px 1px 2px black;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: rgb(192,33,41);
}

/*Diseño de Index.html*/

header{
    background: repeating-linear-gradient(0deg, rgba(249,90,82,1) 0%, rgba(132,109,106,1) 100%);
    grid-area: header1;
    padding: 1rem;
    text-align: center;
}

.titulo1 {
    color: rgb(192,33,41);
    font-size: 16px;
}

.titulo2{
    color: rgb(192,33,41);
    font-family: 'Redressed', cursive;
    font-size: 60px;
    text-shadow: 1px 2px 1px black;
}

nav {
    display: grid;
    background-color: white;
    grid-area: navbar1;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding: 1rem;
}

.section1{
    background-color: rgba(250,250,250,.4);
    border: 1px solid #444141; 
    border-radius: 10px;
    display: grid;
    grid-area: section-1;
    grid-template: 
    "p1" auto
    "h2-2" auto
    "caja1" auto
    "p2" auto
    "caja2" auto;
    margin: 1rem;
    padding: 1rem;
}

.p1 {
    grid-area: p1;
}

.h2-2 {
    grid-area: h2-2;
}

.caja1 {
    grid-area: caja1;
}

.p2 {
    grid-area: p2;
}

.caja2 {
    grid-area: caja2;
}

.caja1 img {
    border-radius: 10px;
    box-shadow: 3px 3px 7px #999999;
    float: left;
    margin-bottom: 1rem;
    margin-right: 20px;
    max-width: 300px;
    width: 50%;
}

.caja2 img {
    border-radius: 10px;
    box-shadow: 3px 3px 7px #999999;
    float: right;
    margin-bottom: 1rem;
    margin-right: 20px;
    max-width: 300px;
    width: 50%;
}

nav a {
    font-weight: bold;
    text-shadow: 1px 1px 1px #999999;;
}

.section2 {
    justify-content: center;
    background-color: rgba(250,250,250,.4);
    border: 1px solid #444141; 
    border-radius: 10px;
    display: grid;
    margin: 20px;
    grid-area: section-2;
    padding: 1rem;
}

.section2 p {
    text-align: center;
}

.section3 {
    background-color: rgba(250,250,250,.4);
    border: 1px solid #444141; 
    border-radius: 10px;
    margin: 20px;
    grid-area: section-3;
    padding: 1rem;
}

ul {
    display: grid;
    list-style-type: none;
}

ul li {
    background-image: url("https://img.icons8.com/ios/50/000000/wings.png");
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    padding-bottom: .1rem;
    padding-left: 2rem;
}

.section-4 {
    background-color: rgba(250,250,250,.4);
    border: 1px solid #444141; 
    border-radius: 10px;
    margin: 20px;
    grid-area: section-4;
    padding: 1rem;
}

.section-4 p {
    text-align: center;
}

footer{
    grid-area: footer1;
}

.caja_pricipal {
    color: rgb(249,90,82);
    display: grid;
    background-color: #444141;
    justify-content: center;
    margin: 1rem auto;
    padding: 20px;
    text-align: center;
}

.encabezado {
    background-color: #BFA6A2;
    font-family: 'Redressed', cursive;
    font-size: 30px;
    color: #000;
    padding: 20px 0;
}


.caja_perfil {
    align-items: center;
    display: grid;
    justify-content: center;
    margin: .5rem 0;
    max-width: 850px;
    text-align: center;
}

.foto, .foto_2, .redes {
    display: grid;
    justify-content: center;
}

.foto img {
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.foto p, .foto_2 p, .redes p {
    text-align: center;
}

.foto_2 img{
    display: grid;
    max-width: 300px;
    margin-left: 1.6rem;
    width: 80%;
} 

.redes img {
    max-width: 150px;
    width: 80%;
}

/*Diseño de Lux*/
.form {
    align-items: center;
    justify-content: center;
    max-width: 850px;
}

.parte1 {
    margin: 1rem;
}
.contenido input, .contenido textarea, .contenido select {
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    padding-bottom: .1rem;
    padding-left: 2rem;
}

/*Diseño de Salida*/
.tabla {
    display: grid;
    justify-content: center;
}

table {
    max-width: 300px;
}

table, table th, table td {
    border: 1px solid black;
    border-collapse: collapse;
}


/*Resolución de tabletas*/
@media screen and (min-width: 768px) {
    /*Diseño de Home*/
    body {
        grid-template-areas: 
            "header1 header1"
            "navbar1 navbar1"
            "section-1 section-1"
            "section-2 section-2"
            "section-3 section-3"
            "section-4 section-4"
            "footer1 footer1";
        grid-template-columns: 200px auto;
        grid-template-rows: 200px 50px auto auto auto auto;
    }

    /*Diseño de Salida*/
        table {
            max-width: 600px;
        }

}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    /*Diseño de Home*/
    body {
        grid-template-areas: 
            "header1 header1 header1"
            "navbar1 navbar1 navbar1"
            "section-1 section-1 section-3"
            "section-2 section-2 section-2"
            "section-4 section-4 section-4"
            "footer1 footer1 footer1";
        grid-template-columns: 500px auto auto;
        grid-template-rows: 200px 50px auto auto auto auto;
    }

    /*Diseño de Salida*/
    table {
        max-width: 900px;
    }
}

/*Resolución macro*/
@media screen and (min-width: 1200px) {
    /*Diseño de Home*/
    body {
        background-color: gray;
    }
    .container-grid {
        margin: 0 auto;
        max-width: 1024px;
    }
} 
